.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5E2CE;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 1rem 0 1rem 0;
    height: 4rem;
    z-index: 10;
    font-family: 'Bungee','serif';
    position: sticky;
}

.nav-left {
    display: flex;
    align-items: center;
}



.nav-right {
    display: flex;
    gap: 2rem;
    padding-right: 5rem;
}

.nav-right a {
    color: #E5A657;
    text-decoration: none;
    font-size: 20px;
}

.nav-right a:hover {
    font-size: 25px;
    color: #B53324;
}
